# SERVER
# Variable defining the server port.
# Example: PORT=3333
PORT=

# DB
# Variable containing the URL for connecting to the database.
# Example: DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME"
DATABASE_URL=""

# JWT
# Key for signing and verifying JWT access tokens.
# Example: JWT_ACCESS_KEY=hhsjvncvmlkdjfjdshjcxvxxash
JWT_ACCESS_KEY=
# Key for signing and verifying JWT refresh tokens.
# Example: JWT_REFRESH_KEY=nbxczmxhbcnzczxcc
JWT_REFRESH_KEY=
# Expiration time of JWT access tokens in seconds.
# Example: JWT_EXPIRATION=100
JWT_EXPIRATION=
# Expiration time of JWT refresh tokens in seconds.
# Example: JWT_REFRESH_EXPIRATION=200
JWT_REFRESH_EXPIRATION=

# COOKIES
# Expiration time of cookie with JWT access tokens in ms.
# Example: COOKIE_JWT_EXPIRATION=600000
COOKIE_JWT_EXPIRATION=
# Expiration time of cookie with JWT refresh tokens in ms.
# Example: COOKIE_JWT_REFRESH_EXPIRATION=1200000
COOKIE_JWT_REFRESH_EXPIRATION=

# GOOGLE_CLOUD
# Variables for Google Cloud authentication
GC_ACCOUNT=""
GC_CLIENT_ID=""
GC_CLIENT_SECRET=""
GC_QUOTA_PROJECT_ID=""
GC_REFRESH_TOKEN=""
GC_TYPE=""
GC_UNIVERSE_DOMAIN=""
# Variables for Google Cloud Bucket
# Public link to take stuff from GC bucket
# Example: GC_BUCKET_PUBLIC_LINK = "https://storage.googleapis.com/bucket_name/"
# Example: GC_BUCKET_PUBLIC_LINK = "https://storage.googleapis.com/bucket_name/folder_name/"
GC_BUCKET_PUBLIC_LINK=""
# Bucket name
GC_BUCKET_NAME=""

# REDIS
CACHE_EXPIRATION=
REDIS_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=